body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-item {
  position: relative;
  overflow: hidden;
  padding: 0;
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

.grid-item:nth-child(1) {
  animation-delay: 1s;
}

.grid-item:nth-child(2) {
  animation-delay: 2s;
}

.grid-item:nth-child(3) {
  animation-delay: 3s;
}

.grid-item:nth-child(4) {
  animation-delay: 4s;
}

.grid-item:nth-child(5) {
  animation-delay: 5s;
}

.grid-item:nth-child(6) {
  animation-delay: 6s;
}

.grid-item:nth-child(7) {
  animation-delay: 7s;
}

.grid-item:nth-child(8) {
  animation-delay: 8s;
}

.grid-item:nth-child(9) {
  animation-delay: 9s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay is on top of other content */
  opacity: 0; /* Initially hide the overlay */
  animation: fadeOut 2s 9s forwards; /* Fade out after 9 seconds (once all images are shown) */
}

.text {
  color: white;
  font-size: 350px; /* Increase font size */
  font-weight: bold;
  text-align: center;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cake-gif {
  width: 1000px; /* Adjust size as needed */
}

body {
  overflow: hidden; /* Prevent scrolling */
  background-image: url('pictures/background.jpg'); /* Replace 'background.jpg' with the path to your background image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.additional-content {
  text-align: center; /* Center text horizontally */
  /* Add some top margin */
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px); /* Initial position above the viewport */
    opacity: 0; /* Initial opacity */
  }
  100% {
    transform: translateY(0); /* Final position at the top of the viewport */
    opacity: 1; /* Fully visible */
  }
}

.heading {
  margin-bottom: 20px; /* Add some spacing between heading and photos */
  font-size: 40px;
  font-style: italic;
  animation: slideIn 1s ease forwards; /* Apply the animation */
}


.additional-photos {
  display: flex;
  justify-content: center; /* Center photos horizontally */
}

.additional-photo {
  flex: 1; /* Each photo takes equal space */
  margin: 0 5px; /* Add some margin between photos */
}

.additional-photo img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.name{
  font-size: 40px;
  font-style: italic;
}
